%h2 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .fieldset
    = f.email_field :email, :placeholder => 'Email', :autofocus => true
    = f.password_field :password, :placeholder => 'Password'
    = f.password_field :password_confirmation, :placeholder => 'Confirm password'

  = f.submit "Sign up", :class => "btn btn-primary"

= render "devise/shared/links"
