= form_tag(add_contact_url(@user.user_hash), :method => "post") do
  .fieldset
    = text_field_tag :first_name, nil, :placeholder => 'First name', :class => 'input-block-level field'
    = text_field_tag :last_name, nil, :placeholder => 'Last name', :class => 'input-block-level field'
    = text_field_tag :phone, nil, :placeholder => 'Phone number', :class => 'input-block-level field'

    = submit_tag "Add contact", :class => "btn btn-block btn-primary btn-large"