= form_tag(add_contact_url(@user.user_hash), :method => "post") do
  .field
    = label_tag(:first_name, "First name:")
    %br
    = text_field_tag(:first_name)

  .field
    = label_tag(:last_name, "Last name:")
    %br
    = text_field_tag(:last_name)

  .field
    = label_tag(:phone, "Phone number:")
    %br
    = text_field_tag(:phone)

  .actions
    = submit_tag("Submit")