<p id="notice"><%= notice %></p>

<p>
  <b>Hash:</b>
  <%= @user.user_hash %>
</p>

<p>
  <b>Access token:</b>
  <%= @user.access_token %>
</p>

<p>
  <b>Refresh token:</b>
  <%= @user.refresh_token %>
</p>

<p>
  <b>Last refresh:</b>
  <%= @user.last_refresh %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
