.hrheader Sign in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true

  .form-group
    = f.password_field :password, placeholder: 'Password', class: 'form-control'

  .checkbox
    %label{ for: :remember_me }
      = f.check_box :remember_me
      Remember me

  .form-group
    = f.submit 'Sign in', class: 'btn btn-primary'
    = link_to 'Sign in with Google', omniauth_authorize_path(:user, :google_oauth2), class: 'btn btn-default'

= render 'devise/shared/links'
