%h2 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .fieldset
    = f.email_field :email, :placeholder => 'Email', :class => 'field', :autofocus => true
    = f.password_field :password, :placeholder => 'Password', :class => 'field'
    %label.checkbox
      = f.check_box :remember_me
      Remember me
  = f.submit "Sign in", :class => "btn btn-primary"

= render "devise/shared/links"