.hrheader Your profile link
.btn-group
  = link_to user_page_url(current_user.long_token), user_page_url(current_user.long_token), :class => "btn"
  %button.btn.btn-primary Copy

- if current_user.encrypted_password == ""
  .hrheader Create a password
- else
  .hrheader Change your password
= form_for(current_user, :url => registration_path(:user), :html => { :method => :put }) do |f|
  .fieldset
    - if current_user.encrypted_password != ""
      %div= f.password_field :current_password, :placeholder => 'Old password'
    %div= f.password_field :password, :placeholder => 'New password', :autocomplete => "off"
    %div= f.password_field :password_confirmation, :placeholder => 'Confirm password'
  %div= f.submit "Update", :class => "btn btn-primary"

/= current_user.to_json
/= user_session.to_json
