= form_tag(user_page_url(@user.long_token), method: :post, remote: true, 'data-parsley-validate' => 'parsley') do
  .form-group
    = text_field_tag :first_name, nil, placeholder: 'First name', autocomplete: :off, class: 'form-control input-lg', 'data-parsley-required' => true, 'data-parsley-minlength' => 2
  
  .form-group
    = text_field_tag :last_name, nil, placeholder: 'Last name', autocomplete: :off, class: 'form-control input-lg', 'data-parsley-required' => true, 'data-parsley-minlength' => 2
  
  .form-group
    = text_field_tag :phone, nil, placeholder: 'Phone number', autocomplete: :off, class: 'form-control input-lg', 'data-parsley-required' => true, 'data-parsley-pattern' => '+?\d{6,}'

  .form-group
    = submit_tag 'Add contact', class: 'btn btn-block btn-primary btn-lg'
