.hrheader Your profile link
.input-group
  %input{:value => user_page_url(current_user.long_token), type: 'text', class: 'form-control', readonly: 'readonly', 'data-selectonfocus' => true}
  %span.input-group-btn
    = link_to 'Go!', user_page_url(current_user.long_token), class: 'btn btn-primary', target: '_blank'

- if current_user.encrypted_password.blank?
  .hrheader Create a password
- else
  .hrheader Change your password

= form_for(current_user, :url => registration_path(:user), method: :put, remote: true, html: {'data-parsley-validate' => true}) do |f|
  - unless current_user.encrypted_password.blank?
    .form-group
      = f.password_field :current_password, placeholder: 'Current password', class: 'form-control', 'data-parsley-required' => true

  .form-group
    = f.password_field :password, placeholder: 'New password', class: 'form-control', autocomplete: 'off', 'data-parsley-required' => true, 'data-parsley-minlength' => 8

  .form-group
    = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password', 'data-parsley-required' => true, 'data-parsley-equalto' => '#user_password'

  .form-group
    %button{ type: :submit, class: 'btn btn-primary ladda-button', 'data-style' => 'zoom-out' }
      %span.ladda-label Update
