!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "ContactExchange"
    %meta{:content => "A contact exchange", :name => "description"}
    %meta{:content => "Mantas Norvaiša", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .container-narrow
      .masthead
        = render 'layouts/navigation'
      %hr
        .row-fluid
          .span12= render 'layouts/messages'
          .span12= yield